/* Untuk Tablet */
@media all and (max-width: 1000px) {
    #header {
        padding: 16px 40px;
    }
    #header .logo {
        font-weight: 580;
        font-size: 1.3em;
    }
    #header ul li {
        margin-left: 5px;
    }
    #header ul li a {
        padding: 6px 12px;
        font-size: 10px;
        border-radius: 12px;
    }
    section {
        height: 80vh;
    }
    section::before {
        height: 70px;
    }
    section #book2 {
        top: 50%;
        width: 30%;
        height: 45%;
        margin-left: 60%;
    }
    section #book3 {
        top: 58%;
        width: 25%;
        height: 35%;
    }
    section #text {
        font-size: 6vw;
        text-shadow: 6px 3px 3px #ffffff;
    }
    section #text span {
        font-size: 0.25em;
        line-height: 50px;
        letter-spacing: 1.4px;
        font-weight: 450;
    }
    section #button {
        padding: 6px 20px;
        font-size: 0.8em;
        font-weight: 450;
        letter-spacing: 1.5px;
        border-radius: 30px;
    }
    .sec {
        padding: 70px;
    }
    .sec::before {
        height: 70px;
    }
    .sec h2 {
        font-size: 1.8em;
        margin-bottom: 20px; 
        padding-top: 100px;
    }
    .card-body {
        padding: 0.8rem;
    }
    .card-body .btn {
        padding: 8px 15px;
        font-size: 0.7em;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 120px;
        max-width: 70%;
    }
    .card-body .btn:hover {
        border: 1.5px solid;
        font-weight: 600;
    }
    footer {
        width: 100%;
        min-height: 70px;
        padding: 10px 50px;
    }
    footer .social_icon {
        margin: 7px 0;
    }
    footer p {
        margin-top: 6px;
        margin-bottom: 7px;
        font-size: 0.8em;
        letter-spacing: 2px;
        line-height: 18px;
    }
    footer span {
        font-size: 0.3em;
        letter-spacing: 2px;
    }
    footer .wave {
        top: -60px;
        height: 70px;
        background-size: 1000px 70px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 740px) {
    #header {
        display: block;
    }
    #header .logo {
        font-weight: 600;
        font-size: 1.3em;
    }
    #header ul li a {
        padding: 6px 14px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 12px;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 25px;
        right: 0;
    }
    .close, 
    input [type='checkbox'] {
        display: none;
    }
    #nav-checkbox:checked ~ .nav-menu {
        margin-top: 12px;
        padding: 0;
        border-top: 1px solid #fff;
    }
    .nav-menu li {
        display: none;
        margin-top: 15px;
        margin-bottom: 2px;
    }
    #nav-checkbox:checked ~ ul.nav-menu li {
        display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .open{
        display: none;
    }
    #nav-checkbox:checked ~ label.nav-toggle .close{
        display: block;
    }
    section {
        height: 100vh;
    }
    section::before {
        height: 70px;
    }
    section #book2 {
        top: 50%;
        width: 40%;
        height: 40%;
        margin-left: 62%;
    }
    section #book3 {
        top: 57%;
        width: 30%;
        height: 27%;
        margin-left: 0;
    }
    section #text {
        font-size: 9vw;
        text-shadow: 6px 3px 3px #ffffff;
        line-height: 50px;
        letter-spacing: 2px;
    }
    section #text span {
        font-size: 0.25em;
        letter-spacing: 1.4px;
        font-weight: 500;
    }
    section #button {
        padding: 8px 25px;
        font-size: 0.9em;
        font-weight: 550;
        letter-spacing: 1.5px;
        border-radius: 25px;
    }
    .sec {
        padding: 40px;
    }
    .sec::before {
        height: 40px;
    }
    .sec h2 {
        font-size: 1.4em;
        margin-bottom: 20px; 
        margin-top: 40px;
    }
    .card-body {
        padding: 0.7rem;
    }
    .card-body .btn {
        padding: 9px 18px;
        font-size: 0.7em;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 120px;
    }
    footer {
        width: 100%;
        min-height: 40px;
        padding: 8px 40px;
        margin-top: 40px;
    }
    footer p {
        margin-top: 6px;
        margin-bottom: 7px;
        font-size: 0.7em;
    }
    footer span {
        font-size: 0.2em;
        letter-spacing: 2px;
    }
    footer .wave {
        top: -50px;
        height: 60px;
    }
}

/* Untuk Smartphone Kecil */
@media all and (max-width: 420px) {
    #header {
        padding: 10px 20px;
    }
    #header .logo {
        font-weight: 550;
        font-size: 0.7em;
        line-height: 15px;
        width: 50%;
    }
    #header ul li a {
        padding: 6px 12px;
        font-size: 10px;
        font-weight: 450;
        border-radius: 11px;
    }
    section {
        height: 85vh;
    }
    section::before {
        height: 40px;
    }
    section #book2 {
        top: 50%;
        width: 33%;
        height: 31%;
        margin-left: 62%;
    }
    section #book3 {
        top: 55%;
        width: 30%;
        height: 22%;
        padding-left: 4%;
    }
    section #text {
        font-size: 11vw;
        text-shadow: 6px 3px 3px #ffffff;
        line-height: 28px;
        letter-spacing: 1px;
    }
    section #text span {
        font-size: 0.25em;
        letter-spacing: 1.4px;
        font-weight: 530;
    }
    section #button {
        padding: 5px 15px;
        font-size: 0.7em;
        font-weight: 500;
        letter-spacing: 1.2px;
        border-radius: 20px;
    }
    .sec {
        padding: 10px;
    }
    .sec::before {
        height: 20px;
    }
    .sec h2 {
        font-size: 1em;
        margin-bottom: 8px; 
        margin-top: 10px;
    }
    .card-body {
        padding: 0.3rem;
    }
    .card-body .btn {
        padding: 6px 9px;
        font-size: 0.5em;
        font-weight: 500;
        line-height: 1.0;
        margin-top: 120px;
    }
    footer {
        margin-top: 35px;
        padding: 8px 10px;
    }
    footer p {
        margin-top: 6px;
        margin-bottom: 7px;
        font-size: 0.5em;
    }
    footer span {
        font-size: 0.1em;
        letter-spacing: 1.5px;
    }
    footer .wave {
        top: -40px;
        height: 40px;
        background-size: 1000px 40px;
    }
}
