@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bebas+Neue&family=Lobster&family=Open+Sans:wght@300&family=Righteous&family=Syne+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins',sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background: #fff;
}
#header {
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    font-family: 'Baloo 2', cursive;
}
#header .logo {
    color: #094b65;
    font-weight: 630;
    font-size: 2em;
    text-decoration: none;
}
#nav-checkbox, .nav-toggle {
    display: none;
}
.nav-menu li {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#header ul li {
    list-style: none;
    margin-left: 20px;
}
.nav-menu li a {
    text-decoration: none;
    padding: 6px 15px;
    font-size: 0.8em;
    color: #094b65;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active
{
    background: #094b65;
    color: #fff;
}
.active {
    background: rgba(255, 255, 255, 0.9);;
}
section {
    position: relative;
    max-width: 1170px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #ffffff, transparent);
    z-index: 10;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section #book4 {
    padding-left: 4%;
}
section #book2 {
    top: 55%;
    width: 30%;
    height: 50%;
    z-index: 100;
    margin-left: 60%;
}
section #book3 {
    top: 60%;
    width: 22%;
    height: 45%;
    z-index: 100;
    margin-left: 7%;
}
section #text {
    position: absolute;
    color: #094b65;
    font-size: 6vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
    z-index: 20;
    text-shadow: 5px 2px 3px #ffffff;
}
section #text span {
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-shadow: none;
}
section #button {
    text-decoration: none;
    display: inline-block;
    padding: 7px 30px;
    background: #fff;
    color: #094b65;
    font-size: 1em;
    font-weight: 550;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}
section #button:hover {
    border: 1.5px solid;
    color: #094b65;
}
.sec {
    position: relative;
    padding: 100px;
    background: #ffffff;
}
.sec::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(from top, #ffffff, transparent);
    z-index: 10;
}
.sec img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
}
.sec h2 {
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
    color: rgb(0, 0, 0);
    padding-top: 130px;
    margin-bottom: 20px;
}
.swiper {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.swiper-slide img {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.card-body {
    padding: 1rem;
    display: block;
}
.card-body .btn {
    padding: 8px 20px;
    color: #ffffff;
    border-color: #000000;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    background-color: #000000;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-top: 150px;
    max-width: 70%;
}
.card-body .btn:hover {
    background-color: #EDD2F3;
    border: 2px solid;
    color: #000000;
    font-weight: 700;
}
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    line-height: 25px;
}
footer span {
    color: #fff;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 0.4em;
    letter-spacing: 3px;
}
footer .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(wave.png);
    background-size: 1000px 80px;
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}